.topContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

.firstLeftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: yellow;
}

.innerLeftDiv {
    width: 60%;
}


.firstRightContainer {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.leftInnerDivSubtext {
    font-size: 17px;
    line-height: 1.6;
}


.shopNowButton {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px 25px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
}


.chooseFreshButton {
    background-color: transparent;
    color: black;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.imageContainer {
    width: 25px;
    height: 25px;
}

.imageTag {
    width: 100%;
    height: 100%;
}

.imageTag2 {
    width: 80%;
    height: 100%;
}

@media (max-width: 1200px) {
    .innerLeftDiv {
        width: 50%;

    }
}

@media (max-width: 900px) {

    .firstLeftContainer {
        padding-top: 120px;
        width: 100%;
        height: auto;
    }

    .firstRightContainer {
        display: none;
    }

    .innerLeftDiv {
        width: 80%;
    }

    .leftInnerDivSubtext {
        font-size: 16px;
    }

    .shopNowButton,
    .chooseFreshButton {
        padding: 12px 20px;
    }
}

@media (max-width: 600px) {
    .innerLeftDiv {
        width: 90%;
    }

    .leftInnerDivSubtext {
        font-size: 15px;
    }

    .shopNowButton,
    .chooseFreshButton {
        padding: 10px 15px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .shopNowButton {
        width: 100%;
    }

    .chooseFreshButton {
        width: 100%;
    }
}

.bottomDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 70%;
    background-color: rgb(239, 239, 239);
    border-radius: 30px;
    height: 80px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.bottomDivIconDiv {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

@media (max-width: 1200px) {
    .bottomDiv {
        width: 80%;
        height: 70px;
    }
}

@media (max-width: 900px) {
    .bottomDiv {
        width: 90%;
        height: 60px;
        bottom: -50px;
    }

    .bottomDivIconDiv {
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .bottomDiv {
        width: 100%;
        height: 50px;
        padding: 10px;
        bottom: -40px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .bottomDivText {
        display: none !important;
    }

    .bottomDivIconDiv {
        flex-direction: row;
        gap: 8px;
    }
}