.navBar {
  border-radius: 50px;
  background-color: white !important;
  color: black !important;
  width: 90% !important;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-top: 0px;
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navBar {
  background-color: #fff;
  color: #333;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 78px;
  height: 40px;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
}

.searchIcon {
  color: #666;
  padding: 5px;
}

.searchInput {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #333;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconDivider {
  width: 1px;
  height: 40px;
  background-color: #ddd;
  margin: 0 10px;
  margin-left: 20px;
}

.locationIconDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.locationIconDiv>h5 {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .navBar {
    width: 100%;
    padding: 10px;
  }

  .toolbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .locationContainer {
    display: none;
  }

  .searchBar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .navBar {
    margin-top: 0;
    width: 100%;
  }

  .toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoContainer {
    margin-bottom: 10px;
  }

  .searchBar {
    width: 100%;
    max-width: 80%;
    margin-bottom: 10px;
  }

  .iconContainer {
    width: 100%;
    justify-content: space-between;
  }

  .iconDivider {
    display: none;
  }
}

@media (max-width: 480px) {
  .navBar {
    width: 100% !important;
  }

  .logo {
    margin-top: 10px;
  }

  .toolbar {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .searchBar {
    display: none;
  }

  .iconContainer {
    justify-content: flex-end;
    width: 100%;
  }
}