.topContainer {
    width: 90%;
    min-height: 300px;
    /* Change height to min-height for flexibility */
    background-color: antiquewhite;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    padding-top: 20px;
    /* Add padding for better spacing */
}

.downloadAppButton {
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.downloadAppRightContainer {
    text-align: left;
    font-weight: 900;
}

.downloadAppRightContainer h5 {
    font-family: cursive;
}

@media (max-width: 900px) {
    .topContainer {
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 15px;
    }

    .downloadAppButton {
        padding: 8px 16px;
    }

    .downloadAppRightContainer {
        text-align: center;
    }

    img {
        width: 250px;
    }
}

@media (max-width: 600px) {
    .topContainer {
        width: 95%;
        min-height: 250px;
        padding: 15px;
    }

    img {
        width: 200px;
    }

    .downloadAppRightContainer {
        max-width: 100%;
    }

    .downloadAppButton {
        width: 100%;
        padding: 12px;
    }

    .downloadAppRightContainer h5 {
        font-size: 16px;
    }
}