.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDisplayCardInnerDiv {
    display: flex;
    justify-content: space-between;
}

.productDisplayCardInnerDiv>h4 {
    font-weight: bold;
}

.productDisplayToggleContainer {
    display: flex;
}

.toggle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0 0 25px;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
}

.toggle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
}